[submodule "submodules/json"]
	path = submodules/json
	url = https://github.com/ArkScript-lang/nlohmann-json.git
[submodule "submodules/cpp-httplib"]
	path = submodules/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "submodules/termcolor"]
	path = submodules/termcolor
	url = https://github.com/ikalnytskyi/termcolor
[submodule "submodules/abseil"]
	path = submodules/abseil
	url = https://github.com/abseil/abseil-cpp.git
[submodule "submodules/re2"]
	path = submodules/re2
	url = https://github.com/google/re2.git
