[submodule "submodules/msgpack-c"]
	path = submodules/msgpack-c
	url = https://github.com/ArkScript-lang/msgpack-cpp
[submodule "submodules/json"]
	path = submodules/json
	url = https://github.com/ArkScript-lang/nlohmann-json.git
