[submodule "submodules/msgpack-c"]
	path = submodules/msgpack-c
	url = https://github.com/ArkScript-lang/msgpack-cpp
[submodule "submodules/json"]
	path = submodules/json
	url = https://github.com/ArkScript-lang/nlohmann-json.git
[submodule "submodules/cpp-httplib"]
	path = submodules/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
